<div class="row">

    <h1 class="text-center text-danger">DANH SÁCH NHÂN VIÊN</h1>
    <hr />

    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <input type="text" placeholder="Type to filter here" class="input-lg form-control" ng-model="txtFilter" />
            <br />
            <br />
            <table class="table-striped table-bordered" style="width: 872px;">
                <thead>
                    <tr>
                        <th>NhanVien ID</th>
                        <th>Ho Ten</th>
                        <th>Gioi Tinh</th>
                        <th>Ngay Sinh</th>
                        <th>Dia Chi</th>
                        <th>Dien Thoai</th>
                        <th>Chuc Vu</th>
                    </tr>
                </thead>
                <tr ng-repeat="a in emps|filter:txtFilter">
                    <td>
                        {{a.MANV}}
                    </td>
                    <td>
                        {{a.HOTEN}}
                    </td>
                    <td>
                        {{a.GIOITINH}}
                    </td>
                    <td>
                        {{a.NGAYSINH}}
                    </td>
                    <td>
                        {{a.DIACHI}}
                    </td>
                    <td>
                        {{a.DIENTHOAI}}
                    </td>
                    <td>
                        {{a.CHUCVU}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>