
<div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form class="pageding-top">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="UserName"  ng-model="UserName" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="Pass" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" />
                    Remember me!
                </label>
            </div>
            <button type="submit" class="btn btn-primary form-control" ng-click="Login()">Login</button>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
